/*Includin Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/*Styling navbar*/
.navbar {
  background-color: #0b032d;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 40px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-family: "Sonsie One", cursive;
  font-size: 2rem;
}

.navigation {
  width: 35%;
  text-align: center;
  margin: 0 40px 0 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/*Stiyling first content of home page*/
.first_content {
  height: 100vh;
  background-image: url("/images/background1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  align-items: center;
}
.first_content h1 {
  height: 70%;
  width: 98%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 4rem;
  padding: 0 0 0 250px;
  font-weight: 900;
  /* border: 3px solid #cfdee7; */
  color: rgb(44, 44, 44);
}

.logo2 {
  font-family: "Sonsie One", cursive;
  padding: 0 120px;
  color: #0b032d;
  font-size: 5rem;
}

/*Styling for second content*/
.second_content {
  background-color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sc_heading {
  margin: 60px 0 0 0;
  text-align: center;
  font-size: 2.5rem;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
}

.gloves,
.hat,
.skis {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -2px 5px 9px grey;
  transition: all 0.3s;
}

.gloves:hover,
.hat:hover,
.skis:hover {
  background-color: #cfdee7;
  transition: all 0.3s;
}

.gloves img,
.hat img,
.skis img {
  height: 120px;
  width: 120px;
}

.buy_button {
  width: 65%;
  height: 15%;
  background-color: #7ac4f1;
  transition: all 0.5s;
  border: 0px;
  font-size: 1rem;
}

.buy_button:hover {
  background-color: #0b032d;
  color: white;
  transition: all 0.5s;
}

.other_products {
  width: 200px;
  height: 50px;
  background-color: white;
  border: 2px solid #0b032d;
  transition: all 0.3s ease-in;
  font-size: 1.1rem;
}

.other_products:hover {
  background-color: #0b032d;
  color: white;
}

/*Styling for payment*/
.payment {
  height: 100vh;
  background-color: #7ac4f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.methods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: -20px 0 0 0;
  width: 60%;
}

.cash_pay,
.card_pay,
.delivery_pay {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  transition: all 0.3s ease-in;
}

.cash_pay:hover,
.card_pay:hover,
.delivery_pay:hover {
  background-color: rgba(255, 255, 255, 0.479);
}

.cash_pay img,
.card_pay img,
.delivery_pay img {
  height: 100px;
  width: 100px;
}
