/*Includin Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/*Styling navbar*/
.navbar {
  background-color: #0b032d;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 40px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-family: "Sonsie One", cursive;
  font-size: 2rem;
}

.navigation {
  width: 35%;
  text-align: center;
  margin: 0 40px 0 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/*Stiyling first content of home page*/
.first_content {
  height: 80vh;
  background-image: url("/images/background1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  align-items: center;
}
.first_content h1 {
  background-color: rgba(255, 255, 255, 0.3);
  height: 90%;
  width: 95%;
  /*text-align: center;*/
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 3rem;
  padding: 50px;
  border: 1px solid #cfdee7;
}

.logo2 {
  font-family: "Sonsie One", cursive;
  padding: 0 100px;
}
